@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    font-family: "Vazirmatn", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f9fa;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.container form {
    margin: 15px 0 25px;
}

.container form :where(input, button) {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styling */
.container form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container form button:hover {
    background-color: #0056b3;
}

.container form button:active {
    background-color: #004b9a;
}

.container .qr-code {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 20px 0 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
    
}
