@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}

body,
.container,
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #4a98f7;
  height: 100vh;
}

.container {
  width: 300px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 15px;
}

.container h1 {
  color: #333;
  font-size: 3rem;
  margin: 20px 0;
}

.container .content {
  width: 100%;
  justify-content: space-between;
}

.content .controls {
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  width: calc(100% / 2 - 5px);
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.controls select {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.set-alarm {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background: #4a98f7;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
